@{
    ViewData["Title"] = "ApplePay";
}
<h1>@ViewData["Title"]</h1>

<div class="apple_pay_option">
    <button type="button" value="Pay with Apple" id="applePay" class="apple-pay-buy">Pay with Apple</button>
</div>
