<div class="text-center" id="">
    GetInstallmentsPlans<br></br>
    @Html.Raw(ViewBag.InstallmentsIssuerDetail)
</div>

<div class="text-center" id="">
    @Html.Raw(ViewBag.FormPost)
</div>

<div id="responseDiv">
    <p id="p1"></p>
</div>
