
<div class="text-center">
    <h1>REDIRECT- Installments TEST</h1>
    @Html.Raw(ViewBag.FormPost)

    <input value='Place Order' type='submit' id='redirectToApsForm' onclick="RedirectToAps()" />
</div>

<script type='text/javascript'>
    function RedirectToAps() {
        document.redirectToApsForm.submit();
    };
</script>
