
<div class="text-center">
    <h1>Response Tokenization</h1>
</div>

<script type="text/javascript">

    window.addEventListener('load', function () {
        var myModal = document.getElementById("myModal");

        myModal.Remove();
    }, false);
</script>